<div class="container">
  <div class="well" style="margin-top: 30px;">
    Thanks for joining Maven. We will let you know when we have matched you with other professionals who share your interests and we're ready to set up your first meeting!
  </div>
 </div>