.navbar.no-margin
  .navbar-inner{style: "background: #fff;" }
    .container
      = link_to image_tag('logo.png', style: "height: 42px;"), root_url, class: 'brand'
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li
            = link_to "HOW IT WORKS", "#howitworks", class: "scroll"
          %li
            = link_to "LEARN MORE"
          %li
            = link_to "APPLY"