.green.center
	.container
		.row
			%h2.span12.bitter Welcome to the club.
.light
	.container
		.row
<div id="outer" style="width: 100%;"><div id="wufoo-z1xakq6w0sk6e1z" style="width: 600px; margin: 0 auto;">
If the form doesn't load in 10 seconds, please click <a href="https://loopmeetings.wufoo.com/forms/z1xakq6w0sk6e1z">here</a> to fill it out.
</div></div>
<script type="text/javascript">var z1xakq6w0sk6e1z;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'loopmeetings', 
'formHash':'z1xakq6w0sk6e1z', 
'autoResize':true,
'height':'601',
'async':true,
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1xakq6w0sk6e1z = new WufooForm();z1xakq6w0sk6e1z.initialize(options);z1xakq6w0sk6e1z.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
