.green.center
	.container
		.row
			%h2.span12.bitter Take a peek at these bios.
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} Example Bios
				%p <b>Laura Rokita</b>
				= image_tag "laurabio.jpg", :class => "bios"
				%p Laura graduated from the University of Notre Dame and is currently the Founder & CEO of Loop. She is interested in meeting other young professionals in Chicago, specifcally those in the startup and technology community. She's also interested in learning more about web development, strategy, event planning, and finance. Outside of work, Laura is a country music aficionado, enjoys playing volleyball and tennis, and is trying her hand at city gardening as an amatuer gardener.
				%br				
				%p <b>Liz Thompson</b>
				= image_tag "lizbio.jpg", :class => "bios"
				%p Liz graduated from the University of Kansas and is currently doing Research and Development for Loop. She would like to meet interesting people in her industry, and hopes to meet and develop relationships with engineers in Chicago. Outside of work, Liz likes to cook, go to movies, explore Chicago neighborhoods, see live music, play board games, and shop for records. 
				%br
				%p <b>Jack Wheeler</b>
				= image_tag "jackbio.jpg", :class => "bios"
				%p Jack graduated from the University of Michigan and is currently an Account Executive at AKTA. He enjoys learning about companies that use technology to facilitate a previously-analog process and thinking about how to improve the customer experience, in any situation. Outside of work, Jack likes to scour Chicago for the next great neighborhood restaurant, play indoor soccer, and spend time with my friends and family, wherever that may be. He is excited about meeting awesome, smart people through Loop. 
				%br
