.green.center
	.container{style: "font-size: 10px;"}
		.row
			%h2.span12.bitter Gotta go? Thanks for being a Loop member.
.light{style: "padding-bottom:5px;"}
	.container
		.row
			%p{style:"margin-left: 50px"} #{link_to "Click here to go back to Members Only.", membersonly_path}
#outer{style: "width: 100%;"}
	#formstack{style: "width: 550px; margin-bottom: 20px; border-width: 1px; border-color: #d3d3d3;"}
		%script{src: "https://www.formstack.com/forms/js.php?no_style=1&form=1670375&viewkey=HunArpbvYj&style_version=v3", type: "text/javascript"}
		%noscript
			%a{href: "https://www.formstack.com/forms/?1670375-HunArpbvYj", title: "Online Form"} Online Form - Cancel Membership
