.green.center
	.container
		.row
			%h2.span12.bitter Bring a friend. We don't want this to be awkward either.
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} Upcoming Events
				%p <b>Monthly Junior Board Night</b>
				%p Listen to representatives from 3 non-profits in Chicago. They are looking for people like you to join their junior boards or to help out in other ways. They will introduce you to great opportunities to help a cause, meet awesome people, and develop new skills outside of work.
				%p Location & Date: TBD	
				%p Who: All are welcome.
				%p Price: $15 for non-members; $5 for members
				%br
				%br
				%p <b>Entrepreneur Happy Hour</b>
				%p Have a drink with Loop members who are company founders, work in startups, interested in entrepreneurship, or love technology. See people you've met on Loop Meetings or meet someone new.
				%p Location & Date: TBD	
				%p Who: Members & Friends (members can buy multiple tickets)
				%p Price: $5 (one drink included)
				%br
				%br
				%p <b>Finance Happy Hour</b>	
				%p Have a drink with Loop members who are interested in finance, accounting, venture capital, and private equity. See people you've met on Loop Meetings or meet someone new.
				%p Location & Date: TBD	
				%p Who: Members & Friends (members can buy multiple tickets)
				%p Price: $5 (one drink included)
				%br
				%br
				%p <b>Marketing & PR Happy Hour</b>
				%p Have a drink with Loop members who are interested in marketing, PR, advertising, and everything in between. See people you've met on Loop Meetings or meet someone new.
				%p Location & Date: TBD	
				%p Who: Members & Friends (members can buy multiple tickets)
				%p Price: $5 (one drink included)
.dark	
	.container#learn-more			
		.row{style: "color: #ffffff;"}
			.span12
				%h1.bitter{style: "color: #ffffff;"} How do I sign up?
				%p When your membership application has been reviewed, we will send you a link to sign up for as many events as you'd like. Please keep in mind that you cannot sign up for TBD events. We'll let you know when we have scheduled events.
.blue	
	.container#learn-more		
		.row{style: "color: #ffffff;"}
			.span12
				%h1.bitter{style: "color: #ffffff;"}Have an idea for a Loop event?
				%p
					We'd love to hear from you. Email us at
					= mail_to "hello@loopmeetings.com"
					if you have any questions, suggestions, or just want to say hi.
				%br
