.green.center
	.container
		.row
			%h2.span12.bitter You asked. We answered.
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter What is Loop?
				%p Loop is changing the way young professionals expand their professional networks. We help you meet smart, friendly people who will be good additions to your network... enjoyably.
				%p In addition to occasional events, we set up Loop Meetings, or small-group coffee meetings, between three young professionals who are matched based on their professional interests. Loop Meetings last about an hour and are held at centrally located coffee shops.
		.row
			.span12
				%h1.bitter Why should I join?
				%p Traditional networking can be awkward, intimidating, and a waste of time. We want to ensure that you meet good connections without the stress.
				%p Our small-group meetings help you get to know each person in your group, and we take care of the arrangements so you can concentrate on the conversation. Loop is a great way to meet people outside your workplace and current circles (if we do say so ourselves).
		.row
			.span12
				%h1.bitter Does everyone get accepted? 
				%p Nope. Right now we are looking for interesting, friendly, and driven young professionals. If you meet some or all of the following requirements you have a good chance of being accepted:
				%p <ul>
				%li Have a LinkedIn profile
				%li Between the ages of 22-35
				%li Attended a top university
				%li Currently employed
				%li Excited to meet new people
				%li Doing something interesting, either at work or outside of your job 
		.row
			.span12
				%h1.bitter When and where do meetings take place?
				%p Right now, Loop Meetings are offered in Chicago's Loop, River North, and West Loop neighborhoods at 8am and 6pm. Your meetings will be held at a centrally located coffee shop for your groups.  
				%p More locations and times will be offered as our membership base expands. We'll keep you updated! 
		.row
			.span12
				%h1.bitter How many people attend each Loop Meeting?
				%p Your meeting will include you and two other professionals (three attendees total).
		.row
			.span12
				%h1.bitter Will I know anything about the other professionals?
				%p The day before your meeting you will receive the names of your meeting participants along with a picture and a short bio.
		.row
			.span12
				%h1.bitter How much do Loop Meetings cost?
				%p Right now our meetings are free!
		.row
			.span12
				%h1.bitter Is the coffee included?
				%p We make the meeting happen, but you have to buy your own coffee (or whatever else you'd like.)
		.row
			.span12
				%h1.bitter What happens if I need to cancel?
				%p You are able to sign up for a specific time in order to avoid scheduling issues. We hope that you’ll make your Loop Meeting a priority, but if something unexpected comes up please let us know as soon as possible. 
				%p You only receive one free pass. If you don't show up for a Loop Meeting or if you cancel less than 24 hours in advance more than once, your membership will be terminated without a refund. 
		.row
			.span12
				%h1.bitter What happens if someone doesn't show up?
				%p Whether or not we like it, things come up. When a member can't make it, we do our best to notify you that someone won't be there. We also hope that you'll still make the most of your meeting with one other member. (We're also generous with coffee shop gift cards to make up for less-than-ideal experiences.)
		.row
			.span12
				%h1.bitter Can I use my meeting to make a sale?
				%p Please don’t! We strongly discourage members from trying to make a sale during a Loop Meeting. If you choose to develop relationships that lead to sales after your first meeting, that’s great – but Loop is not the time or place for closing a deal.

		.row
			.span12
				%h1.bitter I'm looking for a job. Is Loop for me?
				%p We understand that one of the primary goals of networking is to find new job opportunities, but we encourage members to be discreet. We want Loop to be an enjoyable, low-pressure experience for everyone, so please wait until after your meeting to reach out about transitional opportunities.

		.row
			.span12
				%h1.bitter What if I still have questions?
				%p
					We'd love to hear from you. Email us at
					= mail_to "hello@loopmeetings.com"
					if you have any questions, suggestions, or just want to say hi.

.teal.center
	.container
		.row
			%h2.span12.bitter{style: "margin-bottom: 20px;"} Ready to Join?
			= link_to "APPLY NOW FOR FREE", apply_path, class: "apply-button"