#hero
	.container
		.row
			%h1.span12.bitter Meet interesting professionals through small, curated groups
			= link_to "Apply for membership", "#", class: "apply-button"
			.clearfix
#hero-photo
.light.center
	.container
		.row
			%h2.span12.bitter So, how does this work?
		.row#how-it-works
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Apply to Join
					icon
					%p Connect with LinkedIn and tell us what you're interested in.
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Get Matched
					icon
					%p We match you with professional who we think you'd enjoy meeting.
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Meet New People
					icon
					%p For $10, we set up a coffee or lunch meeting for you to have great conversation.
.dark.center
	.container
		.row
			%h2.span12.bitter And make connections that could lead to...
		#make-connections
			.row
				.span4.center
					icon
					%h4.bitter Exciting Opportunities
				.span4.center
					icon
					%h4.bitter New Industry Knowledge
				.span4.center
					icon
					%h4.bitter Relevant Contacts
			.row
				.span4.center
					icon
					%h4.bitter Helpful Mentors
				.span4.center
					icon
					%h4.bitter Valuable Partnerships
				.span4.center
					icon
					%h4.bitter Innovative Ideas
.light.center
	.container
		.row
			%h2.span12.bitter Ready?
			= link_to "Apply for membership", "#", class: "apply-button button-dark"