.green.center
	.container
		.row
			%h2.span12.bitter Do what you love and love what you do.
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} Loop could use your help!
				%p We'd love to hear from you if you're interested in any of the opportunities below. Please email your resume and a link to your LinkedIn profile to hello@loopmeetings.com. 
				%br
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} Winter/Spring 2014 Internships
				%p{style: "color: #003939; font-size: 22px;"}  <b>Marketing Intern</b>
				%p We are looking for a creative, analytical intern to help us with our online marketing efforts. This person will help us reach new members and keep our current members engaged. 
				%p <b>Responsibilities:</b> Create and execute our e-newsletter and other email campaigns designed to move our members to action, manage marketing efforts on LinkedIn, and measure the results of our marketing efforts. You will also work directly with the founder to create your marketing plan.
				%p <b>About you: </b>You are a detail-oriented, independent, and ambitious young professional who is interested in gaining experience by working with an early-stage startup.
				%p This is an unpaid internship with flexible hours.
				<br>
				%p{style: "color: #003939; font-size: 22px;"}  <b>PR Intern</b>
				%p We are looking for an excellent writer to help us spread the word about Loop through the media. 
				%p <b>Responsibilities:</b> Write press releases, reach out to all types of media outlets, and introduce thousands of new people to Loop through public relations.
				%p <b>About you: </b>You are resourceful, creative, relentless, and you love to write. You are also an ambitious young professional who is interested in gaining experience by working with an early-stage startup.
				%p This is an unpaid internship with flexible hours.
				<br>
				%p{style: "color: #003939; font-size: 22px;"}  <b>Event Planning Intern</b>
				%p We are looking for an ambitious, outgoing intern to help us throw unique events. 
				%p <b>Responsibilities:</b> Create an event plan, stay on top of logistics, create promotional materials, help spread the word about events to increase attendance, and make sure events run smoothly.
				%p <b>About you: </b>You are resourceful, a logistics wizard, and you probably love planning gatherings for your friends. You are also an ambitious young professional who is interested in gaining experience by working with an early-stage startup.
				%p This is an unpaid internship with flexible hours.
				<br>
				%p{style: "color: #003939; font-size: 22px;"} <b>Content Marketers</b>
				%p We are looking for engaging writers to write for the Loop blog.
				%p <b>Responsibilities:</b> Write at least one funny, engaging, and useful blog article per month that targeted at young professionals.
				%p <b>About you: </b>You are a grammar master, a creative writer, and you've probably had a blog for a while now. You are also an ambitious young professional who is interested in gaining writing experience.
				%p This is an unpaid position with flexible hours.
				<br>
.blue	
	.container#learn-more		
		.row{style: "color: #ffffff;"}
			.span12
				%h1.bitter{style: "color: #ffffff;"}Have any questions or other ideas?
				%p
					Email us at
					= mail_to "hello@loopmeetings.com"
					if you have any questions, suggestions, or just want to say hi.
				%bitter
