.dark.center
	.container
		.row
			%h2.span12.bitter Networking sucks.  We're changing that.
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} What is Maven?
				%p Maven helps you meet interesting people who will be good additions to your professional network. We set up a coffee meeting for you and other professionals so you can get to know each other in a relaxed setting.
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} What else should I know?
				%h3.bitter Logistics
				%ul
					%li Once we match you with great connections, we will contact you to determine your availability.
					%li We will let you know when and where to go, along with some details about your meeting members.
					%li Payment will be requested via email before your first meeting.
					%li One free coffee is included with your payment.
				%h3.bitter Not-so-fine-print
				%ul 
					%li We screen everyone who signs up for Maven to ensure high-quality members.
					%li We do our best to match you with other people who meet your professional interests, so we're confident that, at the very least, you will enjoy some interesting conversation over coffee or lunch.
					%li No sales allowed! We strongly discourage members from trying to make a sale. If you choose to develop relationships that lead to sales after your first meeting, that's great, but Maven is not the right time to close a deal.
					%li Job-seekers beware! We understand that one of the primary goals of networking is to find a new job, but we encourage members to be discreet. We want this to be an enjoyable, low-pressure conversation for everyone, so wait until after your Maven meeting to reach out about transitional opportunities.
.teal.center
	.container
		.row
			%h2.span12.bitter{style: "margin-bottom: 20px;"} Ready?
			= link_to "Apply for membership", new_user_registration_path, class: "apply-button"