.dark.center
	.container
		.row
			%h2.span12.bitter Networking sucks.  We're changing that.
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} What is Maven?
				%p Maven is a service that helps you meet interesting people who will be good additions to your professional network.
				%br
				We’ll set up a coffee or lunch meeting for you and other relevant professionals where you can get to know each other in a comfortable, small-group setting. We take care of logistics so you can enjoy your conversation.
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} Why should I join?
				%p Traditional networking can be awkward, intimidating, and a waste of time. We want to ensure that you meet good connections without the stress.
				%br Our small-group meetings help you get to know each person in your group, and we take care of the arrangements so you can concentrate on the conversation. Maven is a great way to meet people outside your workplace and current circles (if we do say so ourselves).

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} How does it work?
				%p You’ll join Maven by giving us some information about yourself including your LinkedIn profile and telling us what types of connections you’re interested in making. When we’ve matched you with relevant professionals, we will email you to check your availability, and arrange a time and place for you to meet with your group.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} How many people attend each Maven meeting?
				%p Your meeting will include you and two other professionals (three attendees total).

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} Will I know anything about the other professionals?
				%p You will receive the names along with a little background information on your meeting participants the day before your meeting.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} Where and when do meetings take place?
				%p Maven meetings take place at the time and place that’s most convenient for you and the other members we match with you. 8am coffee in the West Loop?  Done. 1pm lunch in River North? You got it.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} How much does it cost?
				%p For $10 per meeting, we screen all applicants for quality, match compatible professionals, and take care of logistics. All you have to do is show up.
				%br We will email you to collect payment once we’ve confirmed your meeting.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} What happens if I need to cancel?
				%p We ask your availability in advance in order to avoid scheduling issues and hope that you’ll make your Maven meeting a priority. However, if something unexpected comes up, please let us know as soon as possible.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} Can I use my meeting to make a sale?
				%p Please don’t! We strongly discourage members from trying to make a sale during a Maven meeting. If you choose to develop relationships that lead to sales after your first meeting, that’s great – but Maven is not the time or place for closing a deal.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} I'm looking for a job. Is Maven for me?
				%p We understand that one of the primary goals of networking is to find new job opportunities, but we encourage members to be discreet. We want Maven to be an enjoyable, low-pressure experience for everyone, so please wait until after your meeting to reach out about transitional opportunities.


.teal.center
	.container
		.row
			%h2.span12.bitter{style: "margin-bottom: 20px;"} Ready?
			= link_to "Apply for membership", new_user_registration_path, class: "apply-button"