.green.center
	.container
		.row
			%h2.span12.bitter Networking sucks.  We're changing that.
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} What is Loop?
				%p Loop is changing the way young professionals expand their professional network. We help you meet smart, friendly people who will be good additions to your network enjoyably. You can say goodbye to networking events.
				%br
				We’ll set up a coffee meeting for you and other relevant professionals where you can get to know each other in a comfortable, small-group setting. We take care of logistics so you can enjoy your conversation.
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} Why should I join?
				%p Traditional networking can be awkward, intimidating, and a waste of time. We want to ensure that you meet good connections without the stress.
				%br Our small-group meetings help you get to know each person in your group, and we take care of the arrangements so you can concentrate on the conversation. Loop is a great way to meet people outside your workplace and current circles (if we do say so ourselves).
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} When should I join?
				%p Now. Don't wait until you need a job or need to meet your sales quota to expand your network. Meeting new people is less stressful and more enjoyable when you don't need anything from them. 
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} How does it work?
				%p You’ll join Loop by giving us some information about yourself including your LinkedIn profile and telling us what types of connections you’re interested in making. We will email you to check your availability, match you with relevant professionals, and arrange a time and place for you to meet with your group.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} How many people attend each Loop meeting?
				%p Your meeting will include you and two other professionals (three attendees total).

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} Will I know anything about the other professionals?
				%p You will receive the names of your meeting participants along with a little background information and a picture the day before your meeting.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} When and where do meetings take place?
				%p Loop meetings take place at the time and place that’s most convenient for you and the other members we match with you. Right now we offer meetings at 8am, 11am, and 6pm. The meeting will be held at a centrally-located coffee shop for your group.  

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} How much does it cost?
				%p It's free! At no cost to you, we screen all applicants for quality, match compatible professionals, and take care of logistics. All you have to do is show up.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} What happens if I need to cancel?
				%p We ask your availability in advance in order to avoid scheduling issues and hope that you’ll make your Loop meeting a priority. However, if something unexpected comes up, please let us know as soon as possible. 

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} Can I use my meeting to make a sale?
				%p Please don’t! We strongly discourage members from trying to make a sale during a Loop meeting. If you choose to develop relationships that lead to sales after your first meeting, that’s great – but Loop is not the time or place for closing a deal.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} I'm looking for a job. Is Loop for me?
				%p We understand that one of the primary goals of networking is to find new job opportunities, but we encourage members to be discreet. We want Loop to be an enjoyable, low-pressure experience for everyone, so please wait until after your meeting to reach out about transitional opportunities.

		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px; margin-top: 30px;"} What if I have still have questions?
				%p
					We'd love to hear from you. Email us at
					= mail_to "hello@loopmeetings.com"
					if you have any questions, suggestions, or just want to say hi.



.teal.center
	.container
		.row
			%h2.span12.bitter{style: "margin-bottom: 20px;"} Ready?
			= link_to "Get Started", new_user_registration_path, class: "apply-button"