.green.center
	.container
		.row
			%h2.span12.bitter This is going to be fun.
.light
	.container
		.row
			%p{style:"margin-left: 50px"} Go back to #{ link_to 'Members Only',membersonly_path}.
<div id="outer" style="width: 100%;"><div id="wufoo-zp4deqt13a9ufp" style="width: 600px; margin: 0 auto;">
If the form doesn't load in 10 seconds, please click <a href="https://loopmeetings.wufoo.com/forms/zp4deqt13a9ufp">here</a> to fill it out.
</div></div>
<script type="text/javascript">var zp4deqt13a9ufp;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'loopmeetings', 
'formHash':'zp4deqt13a9ufp', 
'autoResize':true,
'height':'466',
'async':true,
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zp4deqt13a9ufp = new WufooForm();zp4deqt13a9ufp.initialize(options);zp4deqt13a9ufp.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
