.green.center
	.container
		.row
			%h2.span12.bitter This is going to be fun.
.light
	.container
		.row
			%p{style:"margin-left: 50px"} Go back to #{ link_to 'Members Only',membersonly_path}.
<div id="outer" style="width: 100%;"><div id="wufoo-mot2mc20lh0h8f" style="width: 600px; margin: 0 auto;">
If the form doesn't load in 10 seconds, please click <a href="https://loopmeetings.wufoo.com/forms/mot2mc20lh0h8f">here</a> to fill it out.
</div></div>
<script type="text/javascript">var mot2mc20lh0h8f;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'loopmeetings', 
'formHash':'mot2mc20lh0h8f', 
'autoResize':true,
'height':'546',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { mot2mc20lh0h8f = new WufooForm();mot2mc20lh0h8f.initialize(options);mot2mc20lh0h8f.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
