.green.center
	.container
		.row
			%h2.span12.bitter Less than your gym membership (that you never use).
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} Annual Membership
				%p Sign up for our beta deal. It's a steal.
				%p <b>Price:</b> $29 per year
				%p <b>What's Included:</b> 
				%ul
				%li Unlimited Loop Meetings for one year at no additional cost; sign up as often as once per week
				%li Invitations to member-only events & happy hours
				%li Free or discounted tickets to all events
		.row.center
			= link_to "Apply Now", apply_path, class: "apply-button"
		.row.center
			.span12
				%br
				%p <i>100% Happiness Guaranteed: If you don't have a good experience on your first meeting, you will get a full refund.</i>