.green.center
	.container
		.row
			%h2.span12.bitter Stop overthinking it.  Just give it a shot.
.light
	.container#learn-more
		.row
			.span12
				%h1.bitter{style: "color: #003939; margin-bottom: 20px;"} Annual Membership
				%p Apply for our FREE beta membership. Yes, free. 
				<br> 
				%p <b>What You Get If You're Accepted:</b> 
				%ul
				%li Unlimited Loop Meetings for one year at no additional cost; sign up as often as once per week
				%li Invitations to member-only events & happy hours
				%li Free or discounted tickets to all events
				<br>
		.row.center	
			= link_to "Join Now For Free", apply_path, class: "apply-button"
