.green.center
	.container
		.row
			%h2.span12.bitter Life is short. You should love your career.
.light
	.container#learn-more
		.span5.one
			%h1.bitter{style: "color: #003939; margin-bottom: 30px;"}People helping people.
			%p{style: "margin-bottom:20px;"} <b> What is Loop?</b> Loop is the easiest, most enjoyable way to get to know other young professionals and improve your career.
			%p{style: "margin-bottom:20px;"} <b> Why does that matter?</b> It's harder than ever to navigate your career, stay ahead at work, and land your dream job. There are countless blogs and career sites dedicated to helping you solve these problems. <i>But guess what?</i>  You aren't going to get there without the help of real people. Relationships are how you discover exciting opportunities and gain meaning from work.
			%h1.bitter{style: "color: #003939; margin-bottom: 10px;"}Don't miss out.
			%p <b> Who can join Loop?</b> Loop is a community of more than 600 young professionals in Chicago in startups, marketing, technology, consulting, finance, accounting, venture capital, private equity, design, and more. We have a selective application process, taking the following criteria into account:
			%p <ul>
			%li Updated LinkedIn profile
			%li Graduated from a top university
			%li Employment status
			%li Taken initiative at work or with other organizations
			%li Young professional, between the ages of 22-35 </ul>
		.span5.two#pricing.center
			%h1.bitter{style: "color: #003939; margin-bottom: 30px;"}Free Membership
			%table.table.table-bordered#pricing_table
				%thead
					%tr
						%th.1{ :style => "font-size: 24px; background: #52898c; width: 50%;" } What's Included?
				%trbody
					%tr
						%td{ :style => "background: #427c7e"}
							Access to the Loop Community 
							%br
							(Private LinkedIn Group)
					%tr
						%td{ :style => "background: #f55f46;"}
							Monthly Loop Meetings for $
							%span.dollar-number 5
							\/meeting
					%tr
						%td{ :style => "background: #52898c;"}Invitations to Loop Events
					%tr
						%td{ :style => "background: #427c7e;"}Invitations to Office Tours
					%tr
						%td{ :style => "background: #52898c;"}And many more opportunities as we grow!
			%br
			.row.center
				%p Get started!
			.row.center#pricing{ :style => "padding-top: 0px;"}
				= link_to "JOIN FOR FREE", apply_path, class: "apply-button"
.light{ :style => "padding-top: 0px;"}
	.container#learn-more
		
