@import "bootstrap";
@import "bootstrap-responsive";
@import "sticky-footer";
@import "home";
@import "fonts";

body { 
	padding: 0px!important; 
	font-family: 'proxima_nova_rgregular';
}
.center { text-align: center; }
.justified { text-align: justify; }
.no-margin { margin: 0; }
.uppercase { text-transform: uppercase; }

.bitter {font-family: 'Bitter', serif; font-weight: 100;}

.navbar-inner {
	@include border-radius(0);
}
.navbar .nav > li > a {
	padding: 23px 15px 23px;
	font-size: 16px;
	&:hover{
		color: #C90018;
	}
}
.navbar .nav > li.active > a {
	color: #C90018;
	background: #fff;
	box-shadow: none;
	&:hover {
		background: #fff;
		box-shadow: none;
	}
}
.navbar .btn, .navbar .btn-group {
	margin-top: 18px;
}