@import "bootstrap";
@import "bootstrap-responsive";
@import "sticky-footer";
@import "home";


body { padding: 0px!important; }
.center { text-align: center; }
.justified { text-align: justify; }
.no-margin { margin: 0; }

