// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
	margin: 0;
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -275px;
	text-align: center;
	top: 15px;
	p {
		margin: 0;
	}
}

@media (min-width: 1200px) {
	.navbar .container {
		width: 1170px!important;
	}

}

@media (min-width: 980px) and (max-width: 1120px) {
	.navbar .container {
		width: 940px!important;
	}
}
#hero {
	background-color: #133638;
	color: #fff;
	text-align: center;
	padding: 20px 0 30px 0;
	border-bottom: 1px solid #081718;
	border-top: 1px solid #081718;
	h1 {
		font-size: 37px;
		font-weight: 200;
		margin-bottom: 30px;
	}
    h4 {
      margin-top: -20px;
      margin-bottom: 30px;
      font-size: 22px;
    }
}

.apply-button {
	text-transform: uppercase;
	color: #133638;
	@include border-radius(8px);
	background: #fff;
	padding: 12px 20px;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	letter-spacing: 2px;
	border-bottom: 5px solid #68C0D5;
	&:hover {
		text-decoration: none;
	}
	&.button-dark {
		background: #fbfbfb;
		color: #414042;
		border-bottom: 5px solid #133638;
	}
}

#hero-photo {
	height: 500px;
	background-image: url(hero-photo.jpg);
	background-position: 120px -350px;
	img{
		top: -171px !important;
	}
}

#how-it-works {
	margin-top: 30px;
	h4 {
		font-size: 23px;
		font-weight: 100;
		margin: 0;
	}
	p {
		font-size: 17px;
		color: #414042;
		line-height: 1.5;
	}
}
#make-connections {
	margin-top: 30px;
	h4 {
		font-size: 23px;
		font-weight: 100;
	}
}
.light, .dark {
	padding: 30px 0;
}
.teal {
	background: #42C2D7;
	color: #fbfbfb;
	padding: 15px 0 30px 0;
	.apply-button {
		border-bottom: 5px solid #002A31;
		color: #002A31;
	}
}
.light {
	background: #fbfbfb;
	color: #636466;
}

.blue {
	background: #68c0d5;
	color: #fbfbfb;
	padding: 30px 0;
	a {
		color: #414042;
	}
}


.dark {
	background: #f45f46;
	color: #fff;
	border-bottom: 1px solid #B8282F;
	border-top: 1px solid #B8282F;
}

a { color: #35ADBF; }

legend {
	margin: 0;
	border: none;
	font-family: 'Bitter', serif; font-weight: 100;
}
label, legend {
	color: #8C8C8E;
}

#learn-more {
	color: #828385; font-size: 20px; line-height: 26px; font-weight: 100;
	li {
		line-height: 26px;
	}
}