// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#hero {
	background-color: #003739;
	color: #fff;
	text-align: center;
	padding: 20px 0 30px 0;
	border-bottom: 1px solid #031818;
	border-top: 1px solid #031818;
	h1 {
		font-size: 32px; 
		font-weight: 200;
		margin-bottom: 30px;
	}
}

.apply-button {
	text-transform: uppercase;
	color: #133638;
	@include border-radius(8px);
	background: #fff;
	padding: 12px 20px;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	letter-spacing: 2px;
	border-bottom: 5px solid #42C2D8;
	&:hover {
		text-decoration: none;
	}
	&.button-dark {
		background: #42C2D8;
		color: #fff;
		border-bottom: 5px solid #003739;
	}
}

#hero-photo {
	height: 500px;
	background-image: url(hero-photo.jpg);
	background-position: 0px -130px;
}

#how-it-works {
	margin-top: 30px;
	h4 {
		font-size: 23px;
		font-weight: 100;
		margin: 0;
	}
	p {
		font-size: 17px;
		color: #707173;
		line-height: 1.5;
	}
}
#make-connections {
	margin-top: 30px;
	h4 {
		font-size: 23px;
		font-weight: 100;
	}
}
.light, .dark {
	padding: 30px 0;
}
.light {
	background: #fbfbfb;
	color: #636466;
}
.dark {
	background: #FF492C;
	color: #fff;
	border-bottom: 1px solid #C90018;
	border-top: 1px solid #C90018;
}